body {
    font-family: "Jost", sans-serif;
    background-color: #f3f3f3;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
  
h1 {
    text-align: center;
    font-size: 2em;
    color: #6c2bed;
}
  
form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #7B68EE;
}
  
input {
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #6666FF;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 1rem;
    box-sizing: border-box;
}
  
input:focus {
    border-bottom: 4px solid #6666FF;
}
  
input::placeholder {
    color: #6666FF;
    opacity: 0.5;
}
  
button {
    background: #7B68EE;
    color: white;
    font-weight: bold;
    font-family: "Jost";
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 0 0 10px;
    cursor: pointer;
}
  
button:hover {
    background: #8A2BE2;
}
  
ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
  
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    background-color: #d2d2ff;
    margin-left: 24%;
    margin-right: 24%;
}

#tabelaTransacoes {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
}
  
#tabelaTransacoes th, #tabelaTransacoes td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
  
#tabelaTransacoes th {
    background: #7B68EE;
    color: white;
}
  
#tabelaTransacoes td {
    background: #fff;
}
  
#total {
    text-align: right;
    font-size: 20px;
    color: #4f0080;
    margin-top: 20px;
}
  
.button-mais {
    background-color: #008000;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    line-height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.button-mais:hover {
    background-color: #00a000; 
}
  
.button-menos {
    background-color: #ff0000; 
    color: white;
    font-weight: bold;
    font-size: 12px; 
    border: none;
    border-radius: 5px;
    width: 100px; 
    height: 25px; 
    line-height: 10px; 
    margin: 0 5px;
    cursor: pointer;
}
  
.button-menos:hover {
    background-color: #ff5555; 
}

.titulos {
    text-align: center;
    font-size: 2em;
  }
  
